* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', sans-serif;
	background-color: #050505;
	min-width: 800px;
}

#header {
	position: relative;
	background-color: #440a2d;
	height: 200px;
	min-width: 800px;
}

#content {
	background-color: #662041;
}

#content > div {
	background-color: #FFF;
	border-radius: 20px 20px 0 0;
	padding: 20px;
	max-width: 1280px;
	margin: 0 auto;
	transition: all 0.5s;
	min-height: 500px;
}

#resize:checked ~ #content > div {
	max-width: 800px;
}

#footer {
	max-width: 1280px;
	padding: 50px;
	color: #FFF;
	text-align: center;
	margin: 0 auto;
	font-weight: lighter;
	letter-spacing: 1px;
	font-size: 14px;
}

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	font-family: 'Times New Roman', serif;
	font-weight: bold;
	color: #111;
	letter-spacing: 2px;
}

h1 {
	font-size: 50px;
}

h3 {
	font-size: 32px;
}

.menu {
	background-color: #662041;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.menu > li {
	display: inline-block;
	margin-right: -4px;
	transition: all 0.5s;
	position: relative;
	padding: 10px;
	height: 50px;
}

.menu > li a {
	color: #FFF;
	padding: 5px 20px;
	min-width: 70px;
	text-decoration: none;
	display: inline-block;
	border-radius: 20px;
	transition: all 0.3s;
}

.menu > li a:hover {
	background-color: #440a2d;
}

.hyper-title {
	margin: 20px auto;
	text-align: center;
	position: relative;
	color: #999;
}

.hyper-title:before,
.hyper-title:after {
	content: attr(text);
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	display: block;
	text-align: center;
}

.hyper-title:before {
	color: #FFF;
	transform: translateX(-50%) translateY(calc(-50% - 2px));
}

.hyper-title:after {
	color: #222;
	transform: translateX(-50%) translateY(calc(-50% - 4px));
}

.hyper-title.sub:after {
	color: #333;
}

#home {
	padding: 0 20px;
}

.flex-content {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.flex-content.center {
	justify-content: center;
}

.box {
	flex-grow: 3;
	flex-basis: 400px;
	background-color: #c4e4bd;
	margin: 20px;
	padding: 10px;
	background-size: cover;
	background-position: center;
}

.box > h3 {
	background-color: #70a269;
	padding: 10px 20px;
	margin-bottom: 10px;
	color: #FFF;
}

.box > ul > li {
	display: block;
	padding: 10px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	margin: 0 10px;
}

.box > ul > li:last-of-type {
	border-bottom: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.flip {
	display: inline-block;
	background-color: #FFF;
	width: 52px;
	height: 22px;
	border-radius: 10px;
	position: relative;
	box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
	border: 1px solid #DDD;
	cursor: pointer;
}

.flip:before {
	content: "";
	display: block;
	height: 20px;
	width: 20px;
	background-color: #DDD;
	border-radius: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.3s;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
}

#resize-button .flip {
	margin-bottom: -5px;
}

:checked + label .flip:before,
:checked + #resize-button label .flip:before {
	left: 30px;
	background-color: #ff784e;
}

#resize {
	display: none;
}

#resize-button {
	color: #FFF;
	position: fixed;
	z-index: 2;
	top: 100px;
	left: calc(50% - 550px);
	background-color: #FF0266;
	padding: 10px;
	transform: translateX(-50%);
	border-radius: 100%;
	z-index: 5000;
	overflow: hidden;
	width: 40px;
	height: 40px;
	transition: all 0.2s;
	cursor: pointer;
}

#resize-button:not(.open){
	animation: slide-down 0.5s;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	left: calc(50% - 610px);
}

@keyframes slide-down {
	0% {
		top: 0px;
	}
	100% {
		top: 100px;
	}
}

#resize-button * {
	opacity: 0;
	cursor: pointer;
}

#resize-button.open {
	position: absolute;
	top: 204px;
}

#resize-button:hover *,
#resize-button.open * {
	opacity: 1;
	transition: all 0.3s;
	transition-delay: 0.2s;
}

#resize-button:hover,
#resize-button.open {
	width: 132px;
	height: 42px;
	border-radius: 20px;
	left: calc(50% - 550px);
}

.box-title {
	box-sizing: content-box;
	padding: 60px;
	background-color: #EEE;
	margin: -20px;
	border-radius: 20px 20px 0 0;
	margin-bottom: 40px;
	border-bottom: 1px solid #FFF;
	box-shadow: 0 1px 0 #CCC;
}

.box-title:not(:first-of-type){
	margin: 40px -20px;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.ng-enter {
	animation: fade-in 1s;
}

.item-box {
	background-color: #DDD;
	padding: 0px;
	flex-basis: 200px;
	height: 200px;
	margin: 20px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.item-box:after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	width: 0;
	height: 0;
	display: block;
	background-color: #FF0266;
	transition: all 0.5s;
	z-index: 1;
	transform: translate(-50%, -50%);
	border-radius: 100%;
}

.item-box > span {
	background-color: rgba(0,0,0,0.5);
	display: block;
	position: absolute;
	padding: 10px;
	width: 100%;
	color: #FFF;
	z-index: 5000;
	text-align: center;
	font-family: 'Times New Roman', serif;
	font-size: 22px;
}

.item-box.with-header {
	height: 246px;
}

.item-box.with-header i {
	transform: translate(-50%, calc(-50% + 23px));
}

.item-box.order2:after {
	background-color: #BF004B;
}

.item-box.order3:after {
	background-color: #99003C;
}

.item-box.order4:after {
	background-color: #590022;
}

#bars {
	position: absolute;
	left: 0;
	top: 240px;
	width: 100%;
}

:checked + :checked + :checked + :checked ~ * > #bars > div {
	opacity: 1;
}

#resize:checked ~ #content > div #para {
	font-size: 65px;
}

#resize ~ #content > div .giant-text + div {
	transition: all 0.5s;
}

#bars > div {
	opacity: 0;
	padding: 10px;
	background-color: #FF0266;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 5px;
	transition: all 0.5s;
}

#bars > div + div {
	transition-delay: 0.1s;
	background-color: #BF004B;
	width: 90%;
}

#bars > div + div + div {
	transition-delay: 0.2s;
	background-color: #99003C;
	width: 80%;
}

#bars > div + div + div + div {
	transition-delay: 0.3s;
	background-color: #590022;
	width: 70%;
}

.item-box i {
	font-size: 110px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.5s;
	z-index: 2;
	color: #111;
}

.item-box:hover i {
	color: #555;
}

.height-limiter {
	max-height: 500px !important;
	overflow: auto;
}

.giant-text {
	font-size: 110px;
	font-weight: bold;
	font-family: 'Times New Roman', serif;
	text-align: center;
	position: relative;
}

.giant-text > #para {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	transition: all 0.5s;
	line-height: 80px;
	z-index: 20;
	text-shadow: 3px 3px 0 #FFF;
}

#style:checked ~ * > #style-button:after {
	width: 300px;
	height: 300px;
}

:checked + .item-box i,
:checked + * > .item-box i {
	color: #FFF;
}

:checked + .item-box:after,
:checked + * > .item-box:after {
	width: 350px;
	height: 350px;
}

:checked + .item-box.with-header:after,
:checked + * > .item-box.with-header:after {
	width: 350px;
	height: 350px;
}

:checked + #style-button:after {
	width: 300px;
	height: 300px;
}

#style:checked ~ * > #style-button i {
	color: #FFF;
}

#color:checked ~ * > #color-button:after {
	width: 300px;
	height: 300px;
}

#color:checked ~ * > #color-button i {
	color: #FFF;
}

#layout:checked ~ * > #layout-button:after {
	width: 300px;
	height: 300px;
}

#layout:checked ~ * > #layout-button i {
	color: #FFF;
}

#animation:checked ~ * > #animation-button:after {
	width: 300px;
	height: 300px;
}

#animation:checked ~ * > #animation-button i {
	color: #FFF;
}

:checked ~ .giant-text > #para {
	transform: translate(-50%, calc(-50% - 20px));
}

:checked ~ :checked ~ .giant-text > #para {
	transform: translate(-50%, calc(-50% - 40px));
}

:checked ~ :checked ~ :checked ~ .giant-text > #para {
	transform: translate(-50%, calc(-50% - 60px));
}

:checked ~ :checked ~ :checked ~ :checked ~ .giant-text > #para {
	transform: translate(-50%, calc(-50% - 80px));
}

.hidden {
	display: none;
}

.chips {
	display: flex;
	justify-content: center;
	flex-flow: wrap;
}

.chips li {
	padding: 10px 20px;
	background-color: #F90;
	flex-basis: 100px;
	margin: 20px;
	text-align: center;
	color: #FFF;
	font-size: 18px;
}

[class*="code"],
[class*="code"] * {
	font-family: "Courier New", Courier, monospace;
}

.code-box {
	margin: 40px;
	border: 1px solid #e0e0e0;
}

.code-box > h3 {
	background-color: #f5f5f5;
	color: #F90;
	padding: 15px 30px;
	border-bottom: 1px solid #e0e0e0;
}

.code-box > .content > div {
	font-size: 18px;
	padding: 5px;
	min-height: 30px;
}

.code-box > .content div {
	padding-left: 3em;
}

.code-box > .content {
	padding: 0;
	margin: 0;
	padding-left: 50px;
	background-color: #f5f5f5;
}

.code-box > .content > li {
	padding: 5px;
	border-left: 1px solid #e0e0e0;
}

.code-box > .content > li:nth-of-type(even){
	background-color: #EEE;
}

.code-box > .content > li:nth-of-type(odd){
	background-color: #DDD;
}

.code-box input {
	border: 1px solid #BBB;
	color: #222;
	text-transform: uppercase;
}

.simple-box {
	height: 150px;
	padding-top: 68px;
	flex-grow: 0;
	flex-basis: 150px;
}

.example {
	padding-bottom: 40px;
	margin-bottom: 40px;
	border-bottom: 1px solid #DDD;
	justify-content: center;
	margin: auto 40px;
	flex-wrap: wrap;
	text-align: center;
	overflow-x: auto;
}

.example:last-of-type {
	margin-bottom: 0;
	border-bottom: none;
}

.example * {
	transition: all 0.5s;
}

.red {
	color: red;
}

.circle {
	border-radius: 100%;
}

.align-center {
	text-align: center;
}

.small-text {
	font-size: 16px;
}

.lower {
	text-transform: none !important;
}

.bg-grey {
	background-color: #EEE;
}

.bg-grey .box {
	margin: 0;
}

.no-basis,
.no-basis > li {
	flex-basis: auto;
	flex-grow: 1;
}

.no-grow,
.no-grow > li {
	flex-grow: 0;
}

.code-box .chips {
	margin: -10px 0;
}

.code-box .chips li {
	margin:10px;
	font-size: 16px;
}

.code-box > h3 > span[flex="30"] {
	align-self: center;
}

.disguised {
	display: inline;
	background-color: transparent;
	width: 22px;
	border: none;
	color: inherit;
	text-decoration: underline;
}

.disguised.big {
	width: 50px;
}

.quote {
	margin: 80px 10%;
	letter-spacing: normal;
	text-align: center;
	font-weight: normal;
}

.quote:before,
.quote:after {
	color: #555;
}

.quote:before {
	content: "❝";
}

.quote:after {
	content: "❞";
}

.quote + .ref {
	margin-top: -50px;
	margin-bottom: 80px;
}

.ref {
	text-align: center;
	display: block;
}

.ref,
.ref > a {
	color: #555;
}

img.align-center {
	margin: 40px auto;
	display: block;
}

img {
	max-width: 100%;
}

.default-margin {
	margin-top: 40px;
	margin-bottom: 40px;
}