<div id="css">
	<h1 class="hyper-title box-title" text="❝Cascading Style Sheets❞">❝Cascading Style Sheets❞</h1>
	<div layout="row">
		<input type="checkbox" id="style" class="hidden">
		<input type="checkbox" id="color" class="hidden">
		<input type="checkbox" id="layout" class="hidden">
		<input type="checkbox" id="animation" class="hidden">
		<div flex="50" class="giant-text">
			<span id="para">Para o que?</span>
			<div id="bars">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
		<div flex="50" layout="row" layout-wrap="wrap" class="flex-content center height-limiter">
			<label for="style" class="item-box" id="style-button"><i class="fa fa-paint-brush"></i></label>
			<label for="color" class="item-box order2" id="color-button"><i class="fas fa-palette"></i></label>
			<label for="layout" class="item-box order4" id="layout-button"><i class="fa fa-ruler"></i></label>
			<label for="animation" class="item-box order3" id="animation-button"><i class="fa fa-video"></i></label>
		</div>
	</div>
	<h1 class="hyper-title box-title" text="Seletores">Seletores</h1>
	<ul class="chips code">
		<li>*</li>
		<li>element</li>
		<li>#id</li>
		<li>.class</li>
		<li>[attribute]</li>
		<li>:<u>special</u></li>
	</ul>
	<div class="code-box">
		<h3>element (tag)</h3>
		<ol class="content">
			<li><div>p {</div></li>
			<li><div><div>color: <input type="text" ng-model="p.color" maxlength="7">;</div></div></li>
			<li><div><div>font-size: <input type="text" ng-model="p.size" maxlength="7" class="lower">;</div></div></li>
			<li><div>}</div></li>
		</ol>
	</div>
	<div class="example code" layout="row">
		<p style="color: {{p.color}}; font-size: {{p.size}};">
			Um parágrafo qualquer
		</p>
	</div>
	<div class="code-box">
		<h3>#id</h3>
		<ol class="content">
			<li><div>#caixa {</div></li>
			<li><div><div>background-color: <input type="text" ng-model="caixa" maxlength="7">;</div></div></li>
			<li><div>}</div></li>
		</ol>
	</div>
	<div class="example" layout="row">
		<div class="box simple-box code" style="background-color: {{caixa}};">
			#caixa
		</div>
	</div>
	<div class="code-box">
		<h3>.class</h3>
		<ol class="content">
			<li><div>.caixa {</div></li>
			<li><div><div>background-color: <input type="text" ng-model="caixas" maxlength="7">;</div></div></li>
			<li><div>}</div></li>
		</ol>
	</div>
	<style>
		#classes .caixa {
			background-color: {{caixas}};
		}
	</style>
	<div class="example" layout="row" id="classes">
		<div class="box simple-box code caixa">
			.caixa
		</div>
		<div class="box simple-box code circle caixa">
			.caixa
		</div>
		<div class="box simple-box code caixa">
			.caixa
		</div>
		<div class="box simple-box code circle caixa">
			.caixa
		</div>
	</div>
	<div class="code-box">
		<h3>[attribute]</h3>
		<ol class="content">
			<li><div>[ng-click] {</div></li>
			<li><div><div>cursor: pointer;</div></div></li>
			<li><div>}</div></li>
			<li><div>[bgBlue] {</div></li>
			<li><div><div>background-color: #0099FF;</div></div></li>
			<li><div>}</div></li>
			<li><div>[bold] {</div></li>
			<li><div><div>color: red;</div></div></li>
			<li><div>}</div></li>
			<li><div>[disabled] {</div></li>
			<li><div><div>opacity: 0.7;</div></div></li>
			<li><div>}</div></li>
			<li><div>[name="caixa"] {</div></li>
			<li><div><div>background-color: #FF0266;</div></div></li>
			<li><div>}</div></li>
		</ol>
	</div>
	<style>
		#attributes [ng-click] {
			cursor: pointer;
		}
		#attributes [bgBlue] {
			background-color: #09f;
		}
		#attributes [bold] {
			font-weight: bold;
		}
		#attributes [disabled] {
			opacity: 0.7;
		}
		#attributes [name="caixa"] {
			background-color: #FF0266;
		}
	</style>
	<div class="example code" layout="row" id="attributes">
		<div class="box simple-box code" ng-click="" name="caixa">
			[ng-click][name="caixa"]
		</div>
		<div class="box simple-box code" bgBlue>
			[bgBlue]
		</div>
		<div class="box simple-box code" bold name="bloco">
			[bold][name="bloco"]
		</div>
		<div class="box simple-box code" disabled>
			[disabled]
		</div>
		<div class="box simple-box code" name="caixa" bold="false">
			[name="caixa"][bold="false"]
		</div>
	</div>
	<div class="code-box">
		<h3>:special (estado) <span class="small-text red">[:hover, :focus, :active, :checked, :valid ...]</span></h3>
		<ol class="content">
			<li><div>.caixa:hover {</div></li>
			<li><div><div>background-color: <input type="text" ng-model="box.hover" maxlength="7">;</div></div></li>
			<li><div>}</div></li>
			<li><div>.caixa:active {</div></li>
			<li><div><div>background-color: <input type="text" ng-model="box.active" maxlength="7">;</div></div></li>
			<li><div>}</div></li>
		</ol>
	</div>
	<style>
		#special-box {
			cursor: pointer;
		}
		#special-box:hover {
			background-color: {{box.hover}};
		}
		#special-box:active {
			background-color: {{box.active}};
		}
	</style>
	<div class="example code" layout="row">
		<div class="box simple-box code" id="special-box">
			:special
		</div>
	</div>
	<h1 class="hyper-title" text="Combinando Seletores">Combinando Seletores</h1>
	<div class="code-box">
		<h3>selector<span class="red">selector</span>...selector {}</h3>
		<ol class="content">
			<li><div>p.red {</div></li>
			<li><div><div>color: red;</div></div></li>
			<li><div>}</div></li>
			<li><div>p.red.upper {</div></li>
			<li><div><div>text-transform: uppercase;</div></div></li>
			<li><div>}</div></li>
			<li><div>p.red.upper[custom] {</div></li>
			<li><div><div>font-family: serif;</div></div></li>
			<li><div>}</div></li>
		</ol>
	</div>
	<style>
		#example1 p.red.upper {
			text-transform: uppercase;
		}
		#example1 p.red.upper[custom] {
			font-family: serif;
		}
	</style>
	<div class="example code" id="example1">
		<p>Um parágrafo qualquer</p>
		<p class="red">Um parágrafo com a classe <b>red</b></p>
		<p class="red upper">Um parágrafo com as classes <b>red e upper</b></p>
		<p class="upper">Um parágrafo com a classe <b>upper</b></p>
		<p class="red upper" custom>Um parágrafo com as classes <b>red, upper</b> e o atributo <b>custom</b></p>
		<p custom>Um parágrafo com o atributo <b>custom</b></p>
	</div>
	<div class="code-box">
		<h3>selector, selector, ... {}</h3>
		<ol class="content">
			<li><div>p, .caixa, [href] {</div></li>
			<li><div><div>color: <input type="text" ng-model="combining.first" maxlength="7">;</div></div></li>
			<li><div>}</div></li>
		</ol>
	</div>
	<div class="example code" layout="row" layout-align="center center" style="color: {{combining.first}}">
		<p flex>Um parágrafo qualquer</p>
		<div class="box simple-box code">
			.caixa
		</div>
		<a href="" flex style="color: {{combining.first}}">Um link qualquer</a>
	</div>
	<div class="code-box">
		<h3>selector selector {} <span class="red">&amp;</span> selector > selector {}</h3>
		<ol class="content">
			<li><div>div b {</div></li>
			<li><div><div>color: <input type="text" ng-model="combining.second.color1" maxlength="7">;</div></div></li>
			<li><div>}</div></li>
			<li><div>div > b {</div></li>
			<li><div><div>color:  <input type="text" ng-model="combining.second.color2" maxlength="7">;</div></div></li>
			<li><div>}</div></li>
		</ol>
	</div>
	<style>
		#example div b {
			color: {{combining.second.color1}};
		}
		#example div > b {
			color: {{combining.second.color2}};
		}
	</style>
	<div class="example code" id="example">
		<div>Eu sou um <b>humano</b></div>
		<i>&lt;div&gt;Eu sou um &lt;b&gt;humano&lt;/b&gt;&lt;/div&gt;</i>
		<br><br>
		<div>Eu sou um <i><b>robô</b></i></div>
		<i>&lt;div&gt;Eu sou um &lt;i&gt;&lt;b&gt;robô&lt;/b&gt;&lt;/i&gt;&lt;/div&gt;</i>
	</div>
	<div class="code-box">
		<h3>a ordem importa!</h3>
		<ol class="content">
			<li><div>div > b {</div></li>
			<li><div><div>color: <input type="text" ng-model="combining.third.color1" maxlength="7">;</div></div></li>
			<li><div>}</div></li>
			<li><div>div b {</div></li>
			<li><div><div>color: <input type="text" ng-model="combining.third.color2" maxlength="7">;</div></div></li>
			<li><div>}</div></li>
		</ol>
	</div>
	<style>
		#example2 div > b {
			color: {{combining.third.color1}};
		}
		#example2 div b {
			color: {{combining.third.color2}};
		}
	</style>
	<div class="example code" id="example2">
		<div>Eu sou um <b>humano</b></div>
		<i>&lt;div&gt;Eu sou um &lt;b&gt;humano&lt;/b&gt;&lt;/div&gt;</i>
		<br><br>
		<div>Eu sou um <i><b>robô</b></i></div>
		<i>&lt;div&gt;Eu sou um &lt;i&gt;&lt;b&gt;robô&lt;/b&gt;&lt;/i&gt;&lt;/div&gt;</i>
	</div>
	<h1 class="hyper-title" text="Combinators & Buried Selectors">Combinators & Buried Selectors</h1>
	<ul class="chips code">
		<li><b>_</b></li>
		<li><b>&gt;</b></li>
		<li><b>+</b></li>
		<li><b>~</b></li>
	</ul>
	<div class="code-box">
		<h3>selector + selector <span class="red">&amp;</span> selector ~ selector</h3>
		<ol class="content">
			<li><div>#primeiro .caixa + .caixa {</div></li>
			<li><div><div>background-color: <input type="text" ng-model="combining.fourth.color1" maxlength="7">;</div></div></li>
			<li><div>}</div></li>
			<li><div>#segundo .caixa ~ .caixa {</div></li>
			<li><div><div>background-color: <input type="text" ng-model="combining.fourth.color2" maxlength="7">;</div></div></li>
			<li><div>}</div></li>
		</ol>
	</div>
	<style>
		#example3 .caixa + .caixa {
			background-color: {{combining.fourth.color1}};
		}
		#example4 .caixa ~ .caixa {
			background-color: {{combining.fourth.color2}};
		}
	</style>
	<h3 class="align-center">#primeiro</h3>
	<div class="example code" layout="row" id="example3">
		<div class="box simple-box code caixa">
			.caixa
		</div>
		<div class="box simple-box code caixa">
			.caixa
		</div>
		<div class="box simple-box code circle">
			.circulo
		</div>
		<div class="box simple-box code caixa">
			.caixa
		</div>
	</div>
	<h3 class="align-center">#segundo</h3>
	<div class="example code" layout="row" id="example4">
		<div class="box simple-box code caixa">
			.caixa
		</div>
		<div class="box simple-box code caixa">
			.caixa
		</div>
		<div class="box simple-box code circle">
			.circulo
		</div>
		<div class="box simple-box code caixa">
			.caixa
		</div>
	</div>
	<div class="code-box">
		<h3>buried :hover</h3>
		<ol class="content">
			<li><div><span class="red">ul:hover</span> li {</div></li>
			<li><div><div>color: <input type="text" ng-model="combining.fourth.color3" maxlength="7">;</div></div></li>
			<li><div>}</div></li>
			<li><div>ul <span class="red">li:hover</span> {</div></li>
			<li><div><div>color: <input type="text" ng-model="combining.fourth.color4" maxlength="7">;</div></div></li>
			<li><div>}</div></li>
		</ol>
	</div>
	<style>
		#example6 ul {
			font-size: 20px;
			width: 200px;
			padding: 20px;
			border: 1px solid #DDD;
			margin: 0 auto;
		}
		#example6 ul:hover li {
			color: {{combining.fourth.color3}};
		}
		#example6 ul li:hover {
			color: {{combining.fourth.color4}};
		}
	</style>
	<div class="example code" id="example6">
		<ul>
			<li>Morango</li>
			<li>Laranja</li>
			<li>Abacaxi</li>
		</ul>
	</div>
	<div class="code-box">
		<h3>selector + selector <span class="red">&amp;</span> selector ~ selector</h3>
		<ol class="content">
			<li><div>#primeiro .caixa:hover + .caixa {</div></li>
			<li><div><div>background-color: <input type="text" ng-model="combining.fourth.color5" maxlength="7">;</div></div></li>
			<li><div>}</div></li>
			<li><div>#segundo .caixa:hover ~ .caixa {</div></li>
			<li><div><div>background-color: <input type="text" ng-model="combining.fourth.color6" maxlength="7">;</div></div></li>
			<li><div>}</div></li>
		</ol>
	</div>
	<style>
		#example7 .caixa:hover + .caixa {
			background-color: {{combining.fourth.color5}};
		}
		#example8 .caixa:hover ~ .caixa {
			background-color: {{combining.fourth.color6}};
		}
	</style>
	<h3 class="align-center">#primeiro</h3>
	<div class="example code" layout="row" id="example7">
		<div class="box simple-box code caixa">
			.caixa
		</div>
		<div class="box simple-box code caixa">
			.caixa
		</div>
		<div class="box simple-box code caixa">
			.caixa
		</div>
		<div class="box simple-box code caixa">
			.caixa
		</div>
	</div>
	<h3 class="align-center">#segundo</h3>
	<div class="example code" layout="row" id="example8">
		<div class="box simple-box code caixa">
			.caixa
		</div>
		<div class="box simple-box code caixa">
			.caixa
		</div>
		<div class="box simple-box code caixa">
			.caixa
		</div>
		<div class="box simple-box code caixa">
			.caixa
		</div>
	</div>
	<h1 class="hyper-title box-title" text="Pseudo Elementos">Pseudo Elementos</h1>
	<ul class="chips code no-basis no-grow">
		<li>::after</li>
		<li>::before</li>
		<li>::first-letter</li>
	</ul>
	<div class="code-box">
		<h3>::first-letter</h3>
		<ol class="content">
			<li><div>p::first-letter {</div></li>
			<li><div><div>color: <input type="text" ng-model="pseudo.first.color1" maxlength="7">;</div></li>
			<li><div><div>font-weight: bold;</div></li>
			<li><div>}</div></li>
		</ol>
	</div>
	<style>
		#pseudo1 p::first-letter {
			color: {{pseudo.first.color1}};
			font-weight: bold;
			font-size: 150%;
		}

		#pseudo1 p {
			font-family: 'Times New Roman', serif;
			font-size: 20px;
		}
	</style>
	<div class="example" layout="row" id="pseudo1">
		<p>Um parágrafo qualquer</p>
	</div>
	<div class="code-box">
		<h3>::after</h3>
		<ol class="content">
			<li><div>li.checked::after {</div></li>
			<li><div><div>content: " - concluído";</div></li>
			<li><div><div>color: green;</div></li>
			<li><div>}</div></li>
		</ol>
	</div>
	<style>
		#pseudo2 ul {
			text-align: left;
			list-style-type: disc;
		}
		#pseudo2 li.checked::after {
			content: " - concluído";
			color: green;
		}
	</style>
	<div class="example code" layout="row" id="pseudo2">
		<ul>
			<li class="checked">Fazer compras</li>
			<li>Limpar a casa</li>
			<li class="checked">Trocar as lâmpadas</li>
			<li>Fazer a janta</li>
		</ul>
	</div>
	<div class="code-box">
		<h3>::before</h3>
		<ol class="content">
			<li><div>p.obs::before {</div></li>
			<li><div><div>content: "Obs: ";</div></li>
			<li><div><div>color: red;</div></li>
			<li><div><div>text-weight: bold;</div></li>
			<li><div>}</div></li>
		</ol>
	</div>
	<style>
		#pseudo3 p.obs::before {
			content: "Obs: ";
			color: red;
			font-weight: bold;
		}
	</style>
	<div class="example code" layout="row" id="pseudo3">
		<p class="obs">Uma oservação qualquer</p>
	</div>
	<h1 class="hyper-title box-title" text="Funções">Funções</h1>
	<ul class="chips code">
		<li>url()</li>
		<li>calc()</li>
		<li>rgba()</li>
		<li>attr()</li>
	</ul>
	<div class="code-box">
		<h3>url()</h3>
		<ol class="content">
			<li><div>.iron-man {</div></li>
			<li><div><div>background-image: url('../assets/iron.jpg');</div></li>
			<li><div>}</div></li>
			<li><div>.flash {</div></li>
			<li><div><div>background-image: url('../assets/flash.jpg');</div></li>
			<li><div>}</div></li>
		</ol>
	</div>
	<style>
		.iron-man {
			background-image: url('../assets/iron.jpg')
		}
		.flash {
			background-image: url('../assets/flash.jpg')
		}
	</style>
	<div class="example" layout="row">
		<div class="box simple-box code iron-man">
		</div>
		<div class="box simple-box code flash">
		</div>
	</div>
	<div class="code-box">
		<h3>calc()</h3>
		<ol class="content">
			<li><div>.right-spaced {</div></li>
			<li><div><div>width: <input type="text" ng-model="functions.calc" class="lower">;</div></li>
			<li><div>}</div></li>
		</ol>
	</div>
	<style>
		.right-spaced {
			width: {{functions.calc}};
		}
	</style>
	<div class="example">
		<div class="bg-grey">
			<div class="box simple-box code right-spaced">
			</div>
		</div>
	</div>
	<div class="code-box">
		<h3>attr()</h3>
		<ol class="content">
			<li><div>[descricao]::after {</div></li>
			<li><div><div>content: attr(descricao);</div></li>
			<li><div><div>color: #555555;</div></li>
			<li><div><div>margin-left: 7px;</div></li>
			<li><div>}</div></li>
		</ol>
	</div>
	<style>
		#func3 ul {
			text-align: left;
			list-style-type: disc;
		}
		#func3 [descricao]::after {
			content: attr(descricao);
			margin-left: 7px;
			color: #555555;
		}
	</style>
	<div class="example code" layout="row" id="func3">
		<ul>
			<li descricao="fruta">Acabate</li>
			<li descricao="cor">Laranja</li>
			<li descricao="objeto">Lâmpada</li>
		</ul>
	</div>
	<h1 class="hyper-title box-title" text="FlexBox">FlexBox</h1>
	<div class="code-box">
		<h3>display: flex</h3>
		<ol class="content">
			<li><div>.flex-parent {</div></li>
			<li><div><div>display: <input type="text" ng-model="flex.first.display" class="lower">;</div></li>
			<li><div><div>background-color: #DDD;</div></li>
			<li><div>}</div></li>
			<li><div>.flex-item {</div></li>
			<li><div><div>padding: 20px;</div></li>
			<li><div><div>margin: 20px;</div></li>
			<li><div><div>background-color: #FF0266;</div></li>
			<li><div><div>color: #FFF;</div></li>
			<li><div>}</div></li>
		</ol>
	</div>
	<style>
		[id^="flex"].flex-parent {
			display: {{flex.first.display}};
			background-color: #DDD;
		}
		[id^="flex"] .flex-item {
			padding: 20px;
			margin: 20px;
			background-color: #FF0266;
			color: #FFF;
		}
	</style>
	<div class="example code">
		<div class="flex-parent" id="flex1">
			<div class="flex-item">
				.flex-item1
			</div>
			<div class="flex-item">
				.flex-item2
			</div>
			<div class="flex-item">
				.flex-item3
			</div>
		</div>
	</div>
	<div class="code-box">
		<h3 layout="row">
			<span flex="30">flex-direction</span>
			<ul flex="70" class="chips code no-basis">
				<li>row</li>
				<li>row-reverse</li>
				<li>column</li>
				<li>column-reverse</li>
			</ul>
		</h3>
		<ol class="content">
			<li><div>.flex-parent {</div></li>
			<li><div><div>display: flex;</div></li>
			<li><div><div>flex-direction: <input type="text" ng-model="flex.second.direction" class="lower">;</div></li>
			<li><div>}</div></li>
			<li><div>.flex-item {</div></li>
			<li><div><div>order: 1;</div></li>
			<li><div>}</div></li>
		</ol>
	</div>
	<style>
		#flex2.flex-parent {
			flex-direction: {{flex.second.direction}};
		}
	</style>
	<div class="example code">
		<div class="flex-parent" id="flex2">
			<div class="flex-item" ng-repeat="item in flex.second.item track by $index" style="order: {{flex.second.item[$index].order}}; border-bottom: 5px solid {{flex.second.item[$index].border}};">
				.flex-item<input type="text" maxlength="2" ng-model="flex.second.item[$index].order" class="disguised">
			</div>
		</div>
	</div>
	<div class="code-box">
		<h3 layout="row">
			<span flex="30">flex-wrap</span>
			<ul flex="70" class="chips code no-basis">
				<li>nowrap</li>
				<li>wrap</li>
				<li>wrap-reverse</li>
			</ul>
		</h3>
		<ol class="content">
			<li><div>.flex-parent {</div></li>
			<li><div><div>display: flex;</div></li>
			<li><div><div>flex-wrap: <input type="text" ng-model="flex.third.wrap" class="lower">;</div></li>
			<li><div>}</div></li>
			<li><div>.flex-item {</div></li>
			<li><div><div>flex-grow: 0;</div></li>
			<li><div>}</div></li>
		</ol>
	</div>
	<style>
		#flex3.flex-parent {
			flex-wrap: {{flex.third.wrap}};
		}
	</style>
	<div class="example code">
		<div class="flex-parent" id="flex3">
			<div class="flex-item" ng-repeat="item in flex.third.item track by $index" style="flex-grow: {{flex.third.item[$index].grow}}">
				flex-grow:<input type="text" maxlength="2" ng-model="flex.third.item[$index].grow" class="disguised">
			</div>
		</div>
	</div>
	<div class="code-box">
		<h3 layout="row">
			<span flex="30">justify-content</span>
			<ul flex="70" class="chips code no-basis">
				<li>flex-start</li>
				<li>flex-end</li>
				<li>center</li>
				<li>space-between</li>
				<li>space-around</li>
				<li>space-evenly</li>
			</ul>
		</h3>
		<ol class="content">
			<li><div>.flex-parent {</div></li>
			<li><div><div>display: flex;</div></li>
			<li><div><div>flex-wrap: <input type="text" ng-model="flex.fourth.wrap" class="lower">;</div></li>
			<li><div><div>justify-content: <input type="text" ng-model="flex.fourth.justifyContent" class="lower">;</div></li>
			<li><div>}</div></li>
			<li><div>.flex-item {</div></li>
			<li><div><div>flex-basis: 200px;</div></li>
			<li><div><div>flex-shrink: <input type="text" ng-model="flex.fourth.shrink" class="lower">;</div></li>
			<li><div><div>align-self: <input type="text" ng-model="flex.fourth.alignSelf" class="lower">;</div></li>
			<li><div>}</div></li>
		</ol>
	</div>
	<style>
		#flex4.flex-parent {
			flex-wrap: {{flex.fourth.wrap}};
			justify-content: {{flex.fourth.justifyContent}};
		}

		#flex4 .flex-item {
			flex-shrink: {{flex.fourth.shrink}};
			align-self: {{flex.fourth.alignSelf}};
		}
	</style>
	<div class="example code">
		<div class="flex-parent" id="flex4">
			<div class="flex-item" ng-repeat="item in flex.fourth.item track by $index" style="flex-basis: {{flex.fourth.item[$index].basis}};">
				flex-basis:<input type="text" maxlength="5" ng-model="flex.fourth.item[$index].basis" class="disguised big">
			</div>
		</div>
	</div>
	<h1 class="hyper-title" text="Links Úteis">Links Úteis</h1>
	<div class="example code">
		<ul style="text-align: left; line-height: 200%;">
			<li>CSS - referência completa: <a target="_blank" href="https://www.w3schools.com/css/">https://www.w3schools.com/css/</a></li>
			<li>A Complete Guide to FlexBox: <a target="_blank" href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/">https://css-tricks.com/snippets/css/a-guide-to-flexbox/</a></li>
			<li>A Complete Guide to Grid: <a target="_blank" href="https://css-tricks.com/snippets/css/complete-guide-grid/">https://css-tricks.com/snippets/css/complete-guide-grid/</a></li>
			<li>Little CSS Stuff Newcomers Get Confused About: <a target="_blank" href="https://css-tricks.com/little-css-stuff-newcomers-get-confused-about/">https://css-tricks.com/little-css-stuff-newcomers-get-confused-about/</a></li>
			<li>CSS Specificity: Things You Should Know: <a target="_blank" href="https://www.smashingmagazine.com/2007/07/css-specificity-things-you-should-know/">https://www.smashingmagazine.com/2007/07/css-specificity-things-you-should-know/</a></li>
		</ul>
	</div>
</div>